/* CSS declarations go here */

body {
	padding: 20px;
  font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  background: black;
  color: white;
  margin: 0px;
}

h1 {
  font-weight: 200;
  font-size: 60px;
  margin: 0;
  margin-bottom: 10px;
}

h2 {
  font-weight: 200;
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.box {
  box-sizing: border-box;
}

iframe {
  border: 0;
  margin-bottom: 10px;
}

.video-container {
  position: relative;
}

.video-title {
  margin-top: -20px;
  display: block;
  z-index: 10;
}

