@import "/variables.styl"

body
  margin 0
  background hotpink
  color white
  font 1em bodyFont
  width 100vw
  height 100vh

h1
  font-weight normal

#screens
  width 100vw
  height 100vh

.screen
  width 49.7vw
  height 50vh
  display inline-block

iframe
  outline solid 1px black
  width 100%
  height 100%
  background transparent
  border none
  padding 0
  margin 0
