/* CSS declarations go here */

body {
	padding: 20px;
  -font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  -background: black;
  -color: white;
  -margin: 0px;
}

.screen h1 {
  font-weight: 200;
  font-size: 60px;
  margin: 0;
  margin-bottom: 10px;
}

.screen h2 {
  font-weight: 200;
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.screen .box {
  box-sizing: border-box;
}

.screen iframe {
  border: 0;
  margin-bottom: 10px;
}

.screen .video-container {
  position: relative;
}

.screen .video-title {
  margin-top: -20px;
  display: block;
  z-index: 10;
}

